section {
  display: grid;
  grid-column: (5, 1fr);
  gap: 5px;
}

.category {
  width: 110px;
  height: 190px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.photo {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #efefef;
}
.photo > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.2s;
}
.photo > img:hover {
  transform: scale(1.1);
}
.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
